# OS
.DS_Store

# IDE
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Composer
/vendor/

# Drupal
/web/sites/default/files/
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

# Lando
.lando.local.yml
.lando.yml.backup
