.js .fa,
.js .pe {
  height: 1.2857em;
  line-height: 1.2857em;
  padding: 0;
  text-align: center;
  width: 1.2857em;
}
.js .stbe-util-icon-circle {
  background: #333;
  border-radius: 50%;
  color: #fff;
  padding: 0.4em;
}
.js .stbe-util-icon-square {
  background: #333;
  border-radius: 0;
  color: #fff;
  padding: 0.4em;
}
.js .stbe-util-icon-rounded {
  background: #333;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.4em;
}
.js .stbe-util-icon-border {
  background: transparent;
  border: 0.0625rem solid #444;
  color: #333;
  padding: 0.4em;
}
.js .stbe-util-icon-circle,
.js .stbe-util-icon-square,
.js .stbe-util-icon-rounded,
.js .stbe-util-icon-border {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.stbe-util-icon-fx {
  background: #eee;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 1;
}

.stbe-util-icon-fx::after {
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.stbe-util-fx-disc {
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.stbe-util-fx-disc::after {
  background: inherit;
  left: -0.4375rem;
  opacity: 0;
  padding: 0.4375rem;
  top: -0.4375rem;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  z-index: -1;
}

.stbe-util-fx-disc:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.stbe-util-fx-pulse {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.stbe-util-fx-pulse::after {
  background: inherit;
  left: -0.125rem;
  padding: 0.125rem;
  top: -0.125rem;
  -webkit-transform: scale(0.7, 0.7);
      -ms-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
  transition: -webkit-transform 0.25s, opacity 0.35s;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.25s;
  transition: opacity 0.35s, -webkit-transform 0.25s;
  transition: transform 0.25s, opacity 0.35s;
  transition: transform 0.25s, opacity 0.35s, -webkit-transform 0.25s;
  z-index: -1;
}

.stbe-util-fx-pulse:hover::after {
  opacity: 0;
  -webkit-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.fa {
  display: inline-block;
  font: normal normal normal 0.875rem/1 FontAwesome, sans-serif;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  line-height: 1em !important;
  text-align: center;
  width: 1.2857em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.1429em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2.1429em;
  position: absolute;
  text-align: center;
  top: 0.1429em;
  width: 2.1429em;
}

.fa-li.fa-lg {
  left: -1.8571em;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: 0.3em;
}

.fa.fa-pull-right {
  margin-left: 0.3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: 0.3em;
}

.fa.pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}