{#
/**
 * @file
 *
 * Theme override for "dxpr_builder.media_library" route.
 * Template copied from core/themes/claro/templates/page.html.twig
 * The idea is to remove all theme regions except "content".
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="layout-container">
  <main class="page-content clearfix" role="main">
    {{ page.content }}
  </main>
</div>
