// DXPR Theme Secondary Header
@import "../includes/variables";

#secondary-header {
  background: dxpr-color('secheader');
  color: dxpr-color('secheadertext');
  line-height: 1.2em;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 405;

  a {
    color: dxpr-color('secheadertext');

    &:hover,
    &:focus {
      color: dxpr-color('secheadertext');
    }
  }

  .block,
  p {
    margin-bottom: 0;
  }

  .secondary-header-container {
    margin-bottom: 0;
  }

  ul.nav {
    float:right;
    margin-bottom: 0;
    margin-top: 0;

    a {
      line-height: 1.2em;
      padding: 0 15px;

      &:hover,
      &:focus {
        background: transparent;
      }
    }

    li {
      float:left;
    }
  }
}
