//
// Author: Jurriaan Roelofs for DXPR. Copyright DXPR.
//

// Fonts
@import "../includes/variables";

// Default font stack fallback.
$default-font-stack: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body, .toooltip {
  font-family: var(--dxt-setting-body-font-face, #{$default-font-stack});
  font-style: var(--dxt-setting-body-font-style, normal);
  font-weight: var(--dxt-setting-body-font-weight, 400);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, label, .field--label {
  font-family: var(--dxt-setting-headings-font-face, #{$default-font-stack});
  font-style: var(--dxt-setting-headings-font-style, normal);
  font-weight: var(--dxt-setting-headings-font-weight, 700);
}

.dxpr-theme-header .nav {
  font-family: var(--dxt-setting-nav-font-face, #{$default-font-stack});
  font-style: var(--dxt-setting-nav-font-style, normal);
  font-weight: var(--dxt-setting-nav-font-weight, 400);
}

.site-name, .navbar-brand {
  font-family: var(--dxt-setting-sitename-font-face, #{$default-font-stack});
  font-style: var(--dxt-setting-sitename-font-style, normal);
  font-weight: var(--dxt-setting-sitename-font-weight, 400);
}

blockquote, blockquote p {
  font-family: var(--dxt-setting-blockquote-font-face, #{$default-font-stack});
  font-size: var(--dxt-setting-blockquote-font-size);
  font-style: var(--dxt-setting-blockquote-font-style, italic);
  font-weight: var(--dxt-setting-blockquote-font-weight, 400);
  line-height: var(--dxt-setting-blockquote-line-height);
}

// Typography

body {
  color: dxpr-color('text');
  font-size: var(--dxt-setting-body-font-size);
}

body, p, .lead {
  line-height:  var(--dxt-setting-body-line-height);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  // Use !important to override default font-family weight.
  font-weight: var(--dxt-setting-headings-bold) !important;
  letter-spacing: var(--dxt-setting-headings-letter-spacing);
  line-height: var(--dxt-setting-headings-line-height);
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: var(--dxt-setting-headings-uppercase);
}

h1, .h1 {
  font-size: var(--dxt-setting-h1-font-size)
}

h2, .h2 {
  font-size: var(--dxt-setting-h2-font-size)
}

h3, .h3, .block-title {
  font-size: var(--dxt-setting-h3-font-size)
}

h4, .h4 {
  font-size: var(--dxt-setting-h4-font-size)
}

h5, .h5 {
  font-size: $font-size-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
}

h3.field--label {
  font-size: $font-size-h4;
  margin-bottom: 0;
}

h3.field--label + div,
h3.field--label + ul {
  margin-bottom: 10px;
}

// WHY? (this messes up node links)
.content .list-inline  {
  li {
    // &:after {
    //   content: ','
    // }
    // &:last-child:after {
    //   content: '';
    // }
  }

  a {
    color: dxpr-color('text');
  }
}

a,
.btn-link,
.nav-link {
  color: dxpr-color('link');

  svg {
    fill: dxpr-color('link');
  }
}

a {
  transition: color 200ms;

  &:hover,
  &:focus {
    outline: none;
  }

  svg {
    transition: fill 200ms;
  }
}

a:hover, a:focus,
.btn-link:hover, .btn-link:focus  {
  color: dxpr-color('headings');
  text-decoration: underline;

  svg {
    fill: dxpr-color('accent1');
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .navbar-brand, th, .nav-tabs > li > a {
  color: dxpr-color('headings');

  a {
    color: dxpr-color('headings');

    &:hover,
    &:focus {
      color: dxpr-color('base');
    }
  }
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  color: dxpr-color('base');

  &:hover,
  &:focus {
    color: dxpr-color('accent1');
  }
}

.block-revslider img { /* This selector specifity should keep images in check but allow special circumstances like revolution slider image effects */
  max-width: 100%;
}

hr, .card hr {
  border-top: 4px solid dxpr-color('card');
  border-top-color: var(--dxt-setting-divider-color);
  border-top-width: var(--dxt-setting-divider-thickness);
  height: 0;
  margin: 20px auto 20px var(--dxt-setting-divider-position);
  width: var(--dxt-setting-divider-length);
}

.region-sidebar-first hr,
.region-sidebar-second hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

.dxpr-theme-footer hr {
  border-top-color: dxpr-color('footertext');
}

.jumbotron hr {
  border-top-color: dxpr-color('cardtext'); // card text color
}

.node .links {
  clear: both;
}

.main-container .block-menu-block .nav {
  > li {
    float: none;
  }
}

.region-sidebar-first,
.region-sidebar-second {
  color: dxpr-color('graylight');

  a {
    color: dxpr-color('text');
  }
}

@media screen and (width <= 768px) {
  body, p {
    font-size:  var(--dxt-setting-body-mobile-font-size);
  }
  h1, .h1 { font-size: var(--dxt-setting-h1-mobile-font-size) }
  h2, .h2 { font-size: var(--dxt-setting-h2-mobile-font-size) }
  h3, .h3 { font-size: var(--dxt-setting-h3-mobile-font-size) }
  h4, .h4 { font-size: var(--dxt-setting-h4-mobile-font-size) }

  blockquote, .blockquote p {
    font-size: var(--dxt-setting-blockquote-mobile-font-size);
  }
}

#system-theme-settings #edit-typography .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#system-theme-settings #edit-typography .details-wrapper > details {
  width: 100%;
}

@media (width <= 976px) {
  #system-theme-settings #edit-typography .details-wrapper > .js-form-item.form-item.js-form-type-range.form-type-range {
    width: 300px;
  }
}
