<div>
  <div class="component--props-slots--body">
    {% block the_body %}
    {% endblock %}
  </div>
  <div class="component--props-slots--footer">
    {% block the_footer %}
    {% endblock %}
  </div>
  <div class="component--props-slots--colophon">
    {% block the_colophon %}
    {% endblock %}
  </div>
</div>
