# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.development.local

node_modules

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# CLI
/cli/dist/
/cli/.env
/cli/node_modules/

# Packages
/packages/**/dist/
/packages/**/node_modules/

# GitLab CI
/.gitlab-ci-local/
/_drupal/

# Logs
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# User Documentation
# build output
/docs/user/dist/
# generated types
/docs/user/.astro/
# dependencies
/docs/user/node_modules/

# UI
/ui/logs
/ui/dist
/ui/dist-ssr
/ui/*.local
/ui/*storybook.log
/packages/astro-hydration/dist
/packages/astro-hydration/.astro

# Playwright
/playwright/.auth/
!/ui/dist
!/packages/astro-hydration/dist
